.viewfinder {
  width: 100%;
  margin-top: 8rem;

  .btn {
    background-color: $secondary;
    position: absolute;
    height: 8rem;
    width: 6rem;
    padding: 2rem;
    display: flex;
    top: 60%;
  }

  .left {
    border-radius: 0 4rem 4rem 0;
  }
  
  .rigth {
    border-radius: 4rem 0 0 4rem;
    right: 0;
  }
  
  .last {
    background-color: $middle-grey;
  }

  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.6rem;
    }
    
    h4 {
      font-size: 1.4;
      color: $middle-grey;
      font-weight: 600;
    }
  }

  .items {
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    gap: 2rem;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (min-width: 768px) {
  .viewfinder {
    margin-top: 0;
    position: relative;
  
    .titles {
      padding: 12rem 0;
    }

    .items {
      margin-left: 10rem;
      margin-right: 10rem;
    }

    .btn {
      width: 9rem;
      padding: 3rem;
      top: 50%;
    }
  }
}
