.viewfinder {
  width: 100%;
  margin-top: 8rem;

  .btn {
    background-color: $secondary;
    position: absolute;
    height: 8rem;
    width: 6rem;
    padding: 2rem;
    display: flex;
    top: 60%;
  }

  .left {
    border-radius: 0 4rem 4rem 0;
  }

  .rigth {
    border-radius: 4rem 0 0 4rem;
    right: 0;
  }

  .last {
    background-color: $middle-grey;
  }

  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.6rem;
    }

    h4 {
      font-size: 1.4rem;
      color: $middle-grey;
      font-weight: 600;
    }
  }

  .items {
    display: grid;
    margin-left: 4rem;
    margin-right: 4rem;
    gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 100%;
    gap: 2rem;

    .detail_img {
      padding: 2rem;
    }

    .details_item {
      padding: 3rem;
    }

    h1 {
      margin-bottom: 2rem;
    }

    h2 {
      text-align: right;
      padding: 1rem;
      background-color: $light_grey;
    }

    h4 {
      text-align: right;
      color: $middle-grey;
      padding: 1rem;
    }

    p {
      border: 1px solid $middle-grey;
      border-radius: 0.5rem;
      padding: 1rem;
    }

    .details_btn {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      &__reserve {
        background-color: $secondary;
        padding: 1rem 0;
        width: 20rem;
        border-radius: 1rem 0 1rem 0.5rem;
        text-align: center;
        font-size: 1.8rem;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
      }

      &__admin {
        background-color: $light_grey;
        background-color: #f1f1f1;
        width: 20rem;
        border: none;
        padding: 1rem;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) {
  .viewfinder {
    margin-top: 0;
    position: relative;

    .titles {
      padding: 12rem 0;
    }

    .items {
      margin-left: 10rem;
      margin-right: 10rem;
    }

    .btn {
      width: 9rem;
      padding: 3rem;
      top: 50%;
    }
  }
}
