/* -------Globals---------- */
:root {
  --dark_grey: #333334;
  --primary: #144172;
  --secondary: #97BF0E;
  --light_grey: #F1F1F1;
  --middle-grey: #BDBDBD;
  --white: #fff;
  --semi-white: #ffffffe6;
  --shadow: #3333334d;
  --principalFont: "Catamaran", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: var(--white);
  font-size: 1.4rem;
  font-family: var(--principalFont);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  body {
    background-color: var(--light_grey);
  }
}
.desk,
.hide {
  display: none !important;
}

@media (min-width: 768px) {
  .desk {
    display: flex !important;
  }
  .mob {
    display: none;
  }
}
.container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (min-width: 768px) {
  .container {
    background-color: var(--white);
    height: calc(100vh - 8rem);
    margin: 4rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.3019607843);
    flex-direction: row;
  }
}
.principal {
  border-bottom: 1px solid var(--middle-grey);
  position: fixed;
  background-color: var(--white);
}
.principal .header {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.principal .header .menu {
  width: 11rem;
  padding: 3rem;
}
.principal .header .menu_logo .logo {
  width: 15rem;
}
.principal .menunav {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: var(--semi-white);
  position: fixed;
  padding: 2rem;
}
.principal .menunav .menu_text a {
  display: block;
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
}
.principal .menunav .menu_text a:hover {
  background-color: var(--light_grey);
  color: var(--dark_grey);
}
.principal .menunav .select {
  background-color: var(--secondary);
  color: var(--white);
}
.principal .menunav .admin {
  background-color: var(--light_grey);
}
.principal .menunav .admin a {
  font-size: 1.4;
  font-weight: normal;
  text-transform: none;
}

@media (min-width: 768px) {
  .principal {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-right: 1px solid var(--middle-grey);
    border-bottom: none;
    flex-direction: column;
    width: 30rem;
    position: initial;
  }
  .principal .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .principal .header .menu_logo .logo {
    padding: 5.5rem 0;
  }
  .menunav {
    display: block !important;
    width: 22.5rem !important;
    position: initial !important;
    padding: 0 !important;
  }
}
.viewfinder {
  width: 100%;
  margin-top: 8rem;
}

@media (min-width: 768px) {
  .viewfinder {
    margin-top: 0;
    position: relative;
  }
}
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
}

@media (min-width: 768px) {
  .titles {
    padding: 12rem 0;
  }
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}

h4 {
  font-size: 1.4;
  color: var(--middle-grey);
  font-weight: 600;
}

.items {
  display: flex;
  margin-left: 4rem;
  margin-right: 4rem;
  gap: 2rem;
}

@media (min-width: 768px) {
  .items {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: var(--secondary);
  position: absolute;
  height: 8rem;
  width: 6rem;
  padding: 2rem;
  display: flex;
  top: 60%;
}

@media (min-width: 768px) {
  .btn {
    width: 9rem;
    padding: 3rem;
    top: 50%;
  }
}
.left {
  border-radius: 0 4rem 4rem 0;
}

.rigth {
  border-radius: 4rem 0 0 4rem;
  right: 0;
}

.last {
  background-color: var(--middle-grey);
}/*# sourceMappingURL=styles.css.map */