/* -------Globals---------- */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: #fff;
  font-size: 1.4rem;
  font-family: "Catamaran", sans-serif;
  color: #333334;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  body {
    background-color: #f1f1f1;
  }
}
.desk,
.hide {
  display: none !important;
}

@media (min-width: 768px) {
  .desk {
    display: flex !important;
  }
  .mob {
    display: none;
  }
}
.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (min-width: 768px) {
  .container {
    background-color: #fff;
    height: calc(100vh - 8rem);
    margin: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 6px rgba(51, 51, 51, 0.3019607843);
    flex-direction: row;
  }
}
.principal {
  border-bottom: 1px solid #bdbdbd;
  position: fixed;
  background-color: #fff;
}
.principal .header {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.principal .header .menu {
  width: 11rem;
  padding: 3rem;
}
.principal .header .menu_logo .logo {
  width: 15rem;
}
.principal .menunav {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9019607843);
  position: fixed;
  padding: 2rem;
}
.principal .menunav .menunav_ul .menu_text a {
  display: block;
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
}
.principal .menunav .menunav_ul .menu_text a:hover {
  background-color: #f1f1f1;
  color: #333334;
}
.principal .menunav .menunav_ul .select {
  background-color: #97bf0e;
  color: #fff;
}
.principal .menunav .menunav_ul .admin {
  background-color: #f1f1f1;
}
.principal .menunav .menunav_ul .admin .a__admin {
  font-size: 1.4rem;
  font-weight: normal;
  text-transform: none;
}

@media (min-width: 768px) {
  .principal {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-right: 1px solid #bdbdbd;
    border-bottom: none;
    flex-direction: column;
    width: 30rem;
    position: initial;
  }
  .principal .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .principal .header .menu_logo .logo {
    padding: 5.5rem 0;
  }
  .principal .menunav {
    display: block !important;
    width: 22.5rem !important;
    position: initial !important;
    padding: 0 !important;
  }
}
.viewfinder {
  width: 100%;
  margin-top: 8rem;
}
.viewfinder .btn {
  background-color: #97bf0e;
  position: absolute;
  height: 8rem;
  width: 6rem;
  padding: 2rem;
  display: flex;
  top: 60%;
}
.viewfinder .left {
  border-radius: 0 4rem 4rem 0;
}
.viewfinder .rigth {
  border-radius: 4rem 0 0 4rem;
  right: 0;
}
.viewfinder .last {
  background-color: #bdbdbd;
}
.viewfinder .titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
}
.viewfinder .titles h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}
.viewfinder .titles h4 {
  font-size: 1.4rem;
  color: #bdbdbd;
  font-weight: 600;
}
.viewfinder .items {
  display: grid;
  margin-left: 4rem;
  margin-right: 4rem;
  gap: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.viewfinder .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.viewfinder .details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  height: 100%;
  gap: 2rem;
}
.viewfinder .details .detail_img {
  padding: 2rem;
}
.viewfinder .details .details_item {
  padding: 3rem;
}
.viewfinder .details h1 {
  margin-bottom: 2rem;
}
.viewfinder .details h2 {
  text-align: right;
  padding: 1rem;
  background-color: #f1f1f1;
}
.viewfinder .details h4 {
  text-align: right;
  color: #bdbdbd;
  padding: 1rem;
}
.viewfinder .details p {
  border: 1px solid #bdbdbd;
  border-radius: 0.5rem;
  padding: 1rem;
}
.viewfinder .details .details_btn {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.viewfinder .details .details_btn__reserve {
  background-color: #97bf0e;
  padding: 1rem 0;
  width: 20rem;
  border-radius: 1rem 0 1rem 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.viewfinder .details .details_btn__admin {
  background-color: #f1f1f1;
  background-color: #f1f1f1;
  width: 20rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .viewfinder {
    margin-top: 0;
    position: relative;
  }
  .viewfinder .titles {
    padding: 12rem 0;
  }
  .viewfinder .items {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .viewfinder .btn {
    width: 9rem;
    padding: 3rem;
    top: 50%;
  }
}/*# sourceMappingURL=styles.css.map */